.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

src/model/__pycache__/*
data/cc_news_reduced.txt
src/load_dataset.py
